<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!-- ********** Parameters for DataBase Connection ********** -->

    <add key="NoticiaDAOFactory/daoClassName" value="Noticias.Model.DAO.NoticiaDAO"/>
    
    <add key="EstadioDAOFactory/daoClassName" value="Futbol.Model.Estadio.DAO.SQLServerUserProfileDAO"/>

    <add key="PartidoDAOFactory/daoClassName" value="Futbol.Model.Partido.DAO.PartidoDAO"/>

    <add key="PartidoJugadoDAOFactory/daoClassName" value="Futbol.Model.PartidoJugado.DAO.PartidoJugadoDAO"/>
    
    <add key="EntrenadorDAOFactory/daoClassName" value="Futbol.Model.Entrenador.DAO.EntrenadorDAO"/>

    <add key="DirectivoDAOFactory/daoClassName" value="Futbol.Model.Directivo.DAO.DirectivoDAO"/>

    <add key="EquiposParticipanDAOFactory/daoClassName" value="Futbol.Model.EquiposParticipan.DAO.EquiposParticipanDAO"/>

    <add key="GolDAOFactory/daoClassName" value="Futbol.Model.Gol.DAO.GolDAO"/>

    <add key="EquipoDAOFactory/daoClassName" value="Futbol.Model.Equipo.DAO.EquipoDAO"/>

    <add key="EstadioDAOFactory/daoClassName" value="Futbol.Model.Estadio.DAO.EstadioDAO"/>

    <add key="IntegranteDAOFactory/daoClassName" value="Futbol.Model.Integrante.DAO.IntegranteDAO"/>

    <add key="HcoIntegranteDAOFactory/daoClassName" value="Futbol.Model.HcoIntegrante.DAO.HcoIntegranteDAO"/>

    <add key="JugadorDAOFactory/daoClassName" value="Futbol.Model.Jugador.DAO.JugadorDAO"/>

    <add key="TarjetaDAOFactory/daoClassName" value="Futbol.Model.Tarjeta.DAO.TarjetaDAO"/>

    <add key="CambioDAOFactory/daoClassName" value="Futbol.Model.Cambio.DAO.CambioDAO"/>

    <add key="CompeticionDAOFactory/daoClassName" value="Futbol.Model.Competicion.DAO.CompeticionDAO"/>

    <add key="ArbitroDAOFactory/daoClassName" value="Futbol.Model.Arbitro.DAO.ArbitroDAO"/>

    <add key="MedicoDAOFactory/daoClassName" value="Futbol.Model.Medico.DAO.MedicoDAO"/>

    <add key="ClasificacionDAOFactory/daoClassName" value="Futbol.Model.Clasificacion.DAO.ClasificacionDAO"/>

    <add key="CalendarioDAOFactory/daoClassName" value="Futbol.Model.Calendario.DAO.CalendarioDAO"/>

    <add key="FachadaDatosDelegateFactory/facadeClassName" value="Futbol.Model.FachadaDatos.FachadaDatos"/>


    
    
    
    
    <!-- Data Provider -->
    <add key="UserProfileDAOFactory/providerInvariantName" value="System.Data.SqlClient"/>

    <add key="CriticaProfileDAOFactory/providerInvariantName" value="System.Data.SqlClient"/>
    
    <!-- Connection String -->
    <add key="UserProfileDAOFactory/connectionString" value="Data Source=tcp:qdijnzq4jx.database.windows.net,1433;Initial Catalog=Football;User ID=lordpiti@qdijnzq4jx;Password=Kidswast1;"/>

    <add key="CriticaProfileDAOFactory/connectionString" value="Data Source=tcp:qdijnzq4jx.database.windows.net,1433;Initial Catalog=Football;User ID=lordpiti@qdijnzq4jx;Password=Kidswast1;"/>

    <!-- SQLServer Parameter Prefix -->
    <add key="UserProfileDAOFactory/parameterPrefix" value="@"/>

    <add key="GenericIntegranteIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericJugadorIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericEstadioIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericCompeticionIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericEquipoIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericPartidoIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericGolIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericHcoIntegranteIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>
    
    <add key="GenericArbitroIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericTarjetaIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericMedicoIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericCambioIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericEntrenadorIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericDirectivoIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>

    <add key="GenericCalendarioIdentifierRetriever/query" value="SELECT id=@@IDENTITY"/>




    <add key="EntrenadorIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Entrenador.DAO.GenericEntrenadorIdentifierRetriever"/>

    <add key="DirectivoIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Directivo.DAO.GenericDirectivoIdentifierRetriever"/>

    <add key="EstadioIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Estadio.DAO.GenericEstadioIdentifierRetriever"/>
    
    <add key="IntegranteIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Integrante.DAO.GenericIntegranteIdentifierRetriever"/>

    <add key="JugadorIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Jugador.DAO.GenericJugadorIdentifierRetriever"/>

    <add key="CompeticionIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Competicion.DAO.GenericCompeticionIdentifierRetriever"/>

    <add key="EquipoIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Equipo.DAO.GenericEquipoIdentifierRetriever"/>

    <add key="PartidoIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Partido.DAO.GenericPartidoIdentifierRetriever"/>

    <add key="GolIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Gol.DAO.GenericGolIdentifierRetriever"/>

    <add key="HcoIntegranteIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.HcoIntegrante.DAO.GenericHcoIntegranteIdentifierRetriever"/>

    <add key="ArbitroIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Arbitro.DAO.GenericArbitroIdentifierRetriever"/>

    <add key="TarjetaIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Tarjeta.DAO.GenericTarjetaIdentifierRetriever"/>

    <add key="MedicoIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Medico.DAO.GenericMedicoIdentifierRetriever"/>

    <add key="CambioIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Cambio.DAO.GenericCambioIdentifierRetriever"/>

    <add key="CalendarioIdentifierRetrieverFactory/retrieverClassName" value="Futbol.Model.Calendario.DAO.GenericCalendarioIdentifierRetriever"/>
    
     
    
    <!-- ********** Parameters for LogManager execution ********** -->

    <!-- LogDestination: Where the Log is going to be written
          Options:
            FILE: it'll be written to a file
            SCREEN: it'll be written to the console
            ALL: it'll be written to the console and to a file-->
    <add key="LogDestination" value="ALL"/>

    <!-- SeverityLevel: kind of messages to write to the log
          Options:
            1: Only Informational messages (INFO)
            2: Informantional and Warning messages (INFO and WARNING)
            3: Informational, Warning and Error messages (INFO, WARNING and ERROR) -->
    <add key="SeverityLevel" value="3"/>

    <!--FileLocation: location of the log file.
        Directory must be previously created
    -->
    <add key="FileLocation" value="C:\\TEMP\\Log"/>

    <!-- Name of the log file (in the form: {FilePartialName}_DATE.{FileExtension}) -->
    <!-- Example: log_28/02/2007.txt -->
    <add key="FilePartialName" value="log"/>
    <!-- The DATE will be set automatically to the today's date -->
    <add key="FileExtension" value="txt"/>


  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
